<!DOCTYPE html>
<html>
		
	<head> 
		
		<script type="text/javascript" src="scripting.js"></script>
		<script type="text/javascript" src="nine11script.js"></script>
		<script type="text/javascript" src="three56script.js"></script>
		<script type="text/javascript" src="BoxterScript.js"></script>
		

		<link rel="stylesheet" type="text/css" href="Porsche33.css">

	
		<title>PorscheXInfo</title>

	</head>
	<body>
		<div class="navBar">
			<!--<divclass="leftSideNav" id="leftSideNav">-->
				<h1 class="leftSideNav" id="leftSideNav">Porsche</h1>
			<!--</div>-->
			<div class="navButtons" id="navButtonsBox" >
				<ul class="navList" id="navList">
					<li><a href="#">Home</a></li>
 					<li><a href="#">News</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</div>	
			<div style="clear: both;"></div>
		</div>	
		<div class="main">
		</div>
		<div id="middleSection">
			<h1 id="secondheader">Check out the different Porsches</h1>
			<div calss="firstrow">
				<div class="info">
					<p id="boldText"  ><b>was founded on April 25, 1931
						by Ferdinand Porsche. porsche is resopnsible 
						for cars that have had a huge impact in the 
						car industry.such as the 356 the first super car
						of its kind. Porsche 911 the most iconic porsche
						to this day. Race cars such as the 959 and the
						Carrera Gt. and many others. </b>
					 </p>
				</div>	
				<!--first image-->
				<div class="image">
					<img src="Photos/porscheBoxter.jpeg" width="232" height="150">
					<div class="text">
						<button id="boxterB" style="color: #f00" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" onmousedown="getBoxterInfo()">Porsche Boxter</button>
					</div>	
				</div>
				<!--second image-->
				<div class="image">
					<img src="Photos/911.png" width="250" height="150">
					<div class="text">
						<button id="nine11B" style="color: #f00" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" onmousedown="get911Info()">Porsche 911</button>
					</div>	
				</div>
				<!--third image-->
				<div class="image">
					<img src="Photos/356.jpeg" width="232" height="150">
					<div class="text">
						<button id="three56B" style="color: red" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" onmousedown="get356Info()">Porsche 356</button>
					</div>	
				</div>
			</div><!--end first row-->
			<div calss="secondrow">
				<!--first picture-->
				<div class="image2">
					<img id="first" src="Photos/caymans.jpeg" width="232" height="150">
					<div class="text">
						<button style="color: red" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">Porsche Cayman</button>
					</div>	
				</div>
				<!--second picture-->
				<div class="image2">		
				<img src="Photos/frontEngine.jpeg" width="250" height="150">
					<div class="text">
						<button style="color: red" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">Front Engine Porsches</button>
					</div>	
				</div>
				<!--third picture-->
				<div class="image2">
						<img src="Photos/racing.jpeg" width="232" height="150">
					<div class="text">
						<button style="color: red" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">Racing Porsches</button>
					</div>	
				</div>
				<div style="clear: both;"></div>
			</div><!--end second row-->
		</div>

		<!--this is where dynamic content starts-->
		<div class="porschexInfo" id="porscheXInfo">
			

			
		</div>
		<!--this is where dynamic content ends-->


		<div class="footer">
			<div class="container">		
				<div class="column">
					<h2>more on Porsche</h2>
					<ul>
						<li>
							<p>to go to the real
								<a target="_blank" href="http://www.porsche.com/">Porsche page</a>
							</p>
						</li>
						<li>
							<p>contact me at 
								<a href="mailto:Aquinolopeza911@gmail.com"> AquinoLopeza911@gmail.com </a>
							</p>
						</li>
						<li> henok is a bitch</li>
					</ul>
				</div>
				<div class="column">
					<h2>contact us</h2>
					<ul>
						<li>
							Rodrigo <a href="mailto:dvrissirvd@gmail.com"> dvrissirvd@gmail.com </a>
						</li>
						<li>
							Denis <a href="mailto:canasDenis@gmail.com"> canasDenis@gmail.com </a>
						</li>
						<li>
							Henok <a href="mailto:henyboy57@gmail.com"> henyboy57@gmail.com </a>
						</li>
						<li>
							Anthony <a href="mailto:Aquinolopeza911@gmail.com"> AquinoLopeza911@gmail.com </a>
						</li>
						<li>
							SBWW <a href="mailto:Aquinolopeza911@gmail.com"> SBWorldWide@gmail.com </a>
						</li>
					</ul>
				</div>	
				<div class="column">
					<h2 id="thirdColumn">external links to skating</h2>
					<ul>
						<li>
							<p>SWBB</p>
						</li>
						<li>
							<p>Trasher magazine click here</p>
						</li>
						<li>
							<p>henok is a bitch</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="copyWrite">
				<p> Porscheinfo.com is here for public information on porsches and to improve general understamding. The information on this website is a mix between experience knowledge and from interent sources, so it should not be used as a professional reference page.  2017-2017 by Anthony Aquino-Lopez powered by SBWW </p>
			</div>
		</div>
	</body>
</html>
